@{
  Layout = "_Layout";
}


@model Library.Models.Copy

<h2>Are you sure you want to turn this in?</h2>
@ViewBag.test;
@Html.DisplayNameFor(model => model.Book.Title): @Html.DisplayFor(model => model.Book.Title)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
} 
@Html.ActionLink("Checked out Books", "Index")

@* @foreach(Copy copy in Model.JoinEntitiesOne)
{
  <li>@copy.Book.Title</li>
  @using (Html.BeginForm("DeleteCopy", "Patrons"))
  {
    @Html.Hidden("joinId", @copy.CopyId)
    <input type="submit" value="Delete"/>
  }
}*@