@{
  Layout = "_Layout";
}

@using Library.Models
@model Library.Models.Patron

<h2>@Model.Name Details:</h2>


<h2>@Model.Name checked out books:</h2>

 @if (Model.JoinEntitiesOne.Count > 0)
{
  @foreach (Copy copy in Model.JoinEntitiesOne)
  {
    <li>
      @copy.Book.Title (Copy Id: @copy.CopyId)
      @using (Html.BeginForm("Delete", "Patrons", FormMethod.Post))
      {
        <input type="hidden" name="CopyId" value=@copy.CopyId />
        <input type="submit" value="Check copy back in" class="btn btn-dark" />
      }
    </li>
  }
}

<p>@Html.ActionLink("Check Out A Book", "CheckOut", new { id = Model.PatronId } )</p>



<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Delete Patron", "Delete", new { id = Model.PatronId })</p>
<p>@Html.ActionLink("Edit User Info", "Edit", new { id = Model.PatronId })</p>