@{
  Layout = "_Layout";
}

@model Library.Models.Author

<h4>Add an book for @Html.DisplayFor(model => model.Name):</h4>
@if (ViewBag.num != 0)
{
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.AuthorId)

    @Html.Label("Select author")
    @Html.DropDownList("BookId")

    <input type="submit" value="Save" />
  }
}
else
{
  <h3>There are no books</h3>
}


<p>@Html.ActionLink("Back to list", "Index")</p>