@{
  Layout = "_Layout";
}

@model Library.Models.Author;

<div id="previous">
@if (ViewBag.Previous != null)
{
  <p>@Html.ActionLink("Previous Author", "Details", "Authors", new { id = ViewBag.Previous.AuthorId })</p>
}
</div>
<div id="next">
@if (ViewBag.Next != null)
{
  <p>@Html.ActionLink("Next Author", "Details", "Authors", new { id = ViewBag.Next.AuthorId })</p>
}
</div>

<h2>Author Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h3>@Html.DisplayNameFor(model => model.Age): @Html.DisplayFor(model => model.Age)</h3>
<h3>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This author does not have any books</p>
}
else
{
  <h4>Books the author contains:</h4>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@Html.ActionLink($"{@join.Book.Title}", "Details", "Books", new { id = @join.Book.BookId })</li>
  }
}

<p>@Html.ActionLink("Add a Book", "AddBook", new { id = Model.AuthorId })</p>
<p>@Html.ActionLink("Back to authors", "Index")</p>
<p>@Html.ActionLink("Edit Author", "Edit", new { id = Model.AuthorId })</p>
<p>@Html.ActionLink("Delete Author", "Delete", new { id = Model.AuthorId })</p>